:root {
  --primary-color: #4a90e2;
  --secondary-color: #f5f7fa;
  --secondary-hover-color: #d1d4d8;
  --ghost-color: #eee;
  --text-color: #333;
  --border-color: #e1e4e8;
  --background-color: #f8f9fa;
  --table-background: #fff;
  --secondary-table-background: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark mode styles */
body.dark-mode {
  --primary-color: #4a90e2; /* Keeping the same for consistency */
  --secondary-color: #1e1e1e; /* Darker neutral for background elements */
  --secondary-hover-color: #2e2e2e;
  --ghost-color: #eee; /* Softer dark gray for subtle elements */
  --text-color: #e0e0e0; /* Light gray for readability */
  --border-color: #3a3d41; /* Dark gray for subtle borders */
  --background-color: #121212; /* Deep dark background */
  --table-background: #101010;
  --secondary-table-background: #08090a;
}

nav {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-right {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.search-container {
  position: relative;
  width: 300px;
}

#searchInput {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  font-size: 1rem;
}

.search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #3a7bc8;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

th {
  background-color: var(--primary-color);
  color: var(--table-background);
  font-weight: 500;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: var(--secondary-table-background);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 95vh;
  overflow-y: auto;
  animation: modalFadeIn 0.4s;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
}

.btns-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 50%;
}

.btn-edit,
.btn-remove {
  padding: 0.3rem 0.5rem;
  background: var(--ghost-color);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #ffb300;
}

.btn-remove:hover {
  background-color: #c82333;
}

.actions {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* From Uiverse.io by rishichawda */
/* The switch - the box around the slider */
#theme-toggle {
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  width: 3em;
  cursor: pointer;
  margin-right: 1rem;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
